# out-of-tree build
build/
# autoconf
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.o
*.lo
.deps
.libs
Makefile
client/icecc
compilerwrapper/compilerwrapper
config.h
config.log
config.status
daemon/iceccd
libtool
minilzo/libminilzo.la
services/icecc.pc
services/libicecc.la
services/icecc-scheduler
suse/icecream.spec
doc/*.1
doc/*.7
doc/index.html
