# out-of-tree build
compile
build/
# autoconf
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.o
*.lo
.deps
.libs
Makefile
stamp-h1
client/icecc
client/icecc-create-env
client/icecc-test-env
client/libclient.a
compilerwrapper/compilerwrapper
config.h
config.log
config.status
daemon/iceccd
libtool
test-driver
minilzo/libminilzo.la
scheduler/icecc-scheduler
services/icecc.pc
services/libicecc.la
suse/icecream.spec
doc/*.1
doc/*.7
doc/index.html
tests/results
tests/test-suite.log
tests/testargs
tests/testargs.log
tests/testargs.trs
tests/test-setup.sh
tests/listing.txt
unittests/testargs
unittests/testargs.trs
# others
compile_commands.json
.vs*
