Source: icecc
Section: kde
Priority: optional
Maintainer: Andre Woebbeking <Woebbeking@web.de>
Uploaders:
Build-Depends: automake1.9, debhelper (>> 5.0.0), libtool, docbook2x, sharutils, kdelibs-data
Standards-Version: 3.7.2

Package: icecc
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, adduser, coreutils, debconf, grep
Suggests: icecc-monitor
Description: Simple distributed compiler client and server
 icecc is a program to distribute compilation of C or C++ code across
 several machines on a network. icecc should always generate the same
 results as a local compile, is simple to install and use, and is often
 significantly faster than a local compile.  icecc does not require all
 machines to share a filesystem, have synchronized clocks, or to have
 the same libraries or header files installed.
 .
 This package is part of the KDE Software Development Kit.
 .
  Homepage: http://en.opensuse.org/Icecream

Package: libicecc-dev
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: Simple distributed compiler client and server
 icecc is a program to distribute compilation of C or C++ code across
 several machines on a network. icecc should always generate the same
 results as a local compile, is simple to install and use, and is often
 significantly faster than a local compile.  icecc does not require all
 machines to share a filesystem, have synchronized clocks, or to have
 the same libraries or header files installed.
 .
 This package provides files which are necessary to build icecc-monitor.
 .
  Homepage: http://en.opensuse.org/Icecream
