#!/bin/sh 
# icecc package configuration script

conffile="/etc/default/icecc"

get_config_file()
{
	config_field=$1
	db_field=$2
	
	if [ -f "$conffile" ] ; then
   		VALUE="$(grep "^[ ]*$config_field" $conffile | sed -e "s/^$config_field *= *\"\(.*\)\"/\1/g")" 
		if [ -n "$VALUE" ] ; then
			db_set $db_field "$VALUE"
		fi
	fi		
}

# Source debconf library -- we have a Depends line
# to make sure it is there...
. /usr/share/debconf/confmodule
db_version 2.0

if [ "$1" = configure -o "$1" = reconfigure ] ; then
	
	get_config_file START_ICECC icecc/daemon
	db_input medium icecc/daemon || true
        db_go
	
	get_config_file START_ICECC_SCHEDULER icecc/scheduler
	db_input medium icecc/scheduler || true
        db_go
	
fi

exit 0
